
.team {
   background-color: rgb(245, 245, 245);
   padding: 10px 10px 50px;

   .wrapper {
      max-width: 1200px;
      margin: 0 auto;

      .list {
         display: flex;
         flex-direction: column;
         gap: 40px;
         padding-bottom: 20px;

         .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            .img-border {
               background-color: #fff;
               width: 150px;
               height: 150px;
               border-radius: 50%;
               display: flex;
               justify-content: center;
               align-items: center;
               overflow: hidden;
               
               .img {
                  width: 140px;
                  height: 140px;
                  overflow: hidden;
                  border-radius: 50%;
                  background-color: #fff;
                  box-shadow: inset 0px 0px 26px 0px rgb(57, 60, 95);

                  img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     object-position: center;
                  }
               }
            }

            h4 {
               font-size: 18px;
               padding-top: 12px;
            }

            p {
               padding-top: 4px;
               font-size: 14px;
               color: gray;
            }

            .social {
               display: flex;
               gap: 10px;
               padding-top: 20px;

               .icon-wrapper {
                  background-color: black;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  transition: transform .4s;

                  &:hover {
                     transform: translateY(-5px);
                     background-color: rgb(50, 50, 50);
                  }

                  i {
                     color: white;
                  }
               }
            }
         }
      }

      p {
         text-align: center;
         color: gray;
         padding: 10px;
      }
   }
}


@media (min-width: 600px) {
   .team {
   
      .wrapper {
   
         .list {
            flex-direction: row;
            padding-bottom: 40px;
         }
   
         p {
            font-size: 14px;
         }
      }
   }
}


@media (min-width: 900px) {
   .team {
   
      .wrapper {
   
         .list {
   
            .item {
   
               .img-border {
                  width: 200px;
                  height: 200px;
                  
                  .img {
                     width: 190px;
                     height: 190px;
                  }
               }
   
               h4 {
                  font-size: 20px;
               }
   
               p {
                  font-size: 16px;
               }
            }
         }
      }
   }
}