@use './nav' as *;
@use './portfolio' as *;
@use './services' as *;
@use './about' as *;
@use './team' as *;
@use './contact' as *;
@use './modal' as *;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;

   

   .btn {
      background-color: #ffc800;
      color: white;
      border: none;
      font-size: 14px;
      font-weight: 600;
      padding: 15px 25px;
      text-transform: uppercase;
      border-radius: 10px;
      transition: background-color .3s ease;
      cursor: pointer;

      
      &:hover {
         background-color: #e0b000;
      }
   }
}


// ------------------------
// ---- HEADER SECTION ----
// ------------------------

.header-section {
   width: 100%;
   text-align: center;
   padding: 40px 10px;

   h2 {
      font-size: 30px;
      text-transform: uppercase;
      padding-bottom: 10px;
   }

   p {
      color: rgb(150, 150, 150);
      font-size: 14px;
      font-style: italic;
   }
}


// ----------------
// ---- HEADER ----
// ----------------
.header {
   position: relative;
   height: 100vh;
   background-image: url("../img/bg_small.jpg");
   background-position: center;
   background-size: cover;
   color: white;

   &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
   }
   
   .content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      
      h4 {
         font-size: 20px;
         font-style: italic;
         font-weight: 300;
         padding: 0 20px;
         text-align: center;
      }
      
      h1 {
         font-size: 38px;
         font-weight: 700;
         padding: 10px 20px;
         text-transform: uppercase;
         text-align: center;
      }

      button {
         margin-top: 20px;
      }
   }
}

// ------------------
// ---- SERVICES ----
// ------------------





// ----------------
// ---- MEDIA  ----
// ----------------

@media (min-width: 650px) {
   // ---- HEADER ----
   .header {
      height: 60vh;
      background-image: url("../img/bg_medium.jpg");
      
      .content {
         
         h4 {
            font-size: 30px;
         }
         
         h1 {
            font-size: 58px;
         }
      }
   }


   // SERVICES 
   .services {
      .wrapper {
         .list {
            flex-direction: row;
         }
      }
   }
}